/* MODO CLARO (por defecto) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* fondo claro */
  color: #000000; /* texto oscuro */
}

header {
  background-color: #008080;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #006666;
  padding: 10px;
  text-align: center;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #006666;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

nav button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #008080;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

nav button:hover {
  background-color: #004c4c;
}

section {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: 2px solid #ccc;
}

.atraccion {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.content {
  flex: 3;
}

aside {
  flex: 1;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

aside a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #008080;
}

aside a:hover {
  text-decoration: underline;
  color: #004c4c;
}

/* MODO OSCURO */

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode header {
  background-color: #1f7a7a;
  color: #ffffff;
}

body.dark-mode nav {
  background-color: #145454;
}

body.dark-mode nav button {
  background-color: #1f7a7a;
  color: #ffffff;
}

body.dark-mode nav button:hover {
  background-color: #0f4c4c;
}

body.dark-mode section {
  background-color: #1a1a1a;
}

body.dark-mode .atraccion {
  background-color: #2a2a2a;
  border: 1px solid #333;
}

body.dark-mode aside {
  background-color: #1a1a1a;
  border-left: 2px solid #333;
}

body.dark-mode aside a {
  color: #1f7a7a;
}

body.dark-mode aside a:hover {
  color: #00cccc;
}

/* Responisividad */

@media(max-width:768px){

    .main-container {
        display: grid;
    }

}